$clr-1: #FFCDB2;
$clr-2: #F08080;
$clr-3: #DFFDFF;
$neutral-1: #000000;
$neutral-2: #FFF;

.background-1 {
    background-color: $clr-1;
}

.background-2 {
    background-color: $clr-2;
}

.background-3 {
    background-color: $clr-3;
}

.border-1 {
    border-color: $clr-1;
}

.border-2 {
    border-color: $clr-2;
}

.border-3 {
    border-color: $clr-3;
}