@mixin grid-design-1 {
	display: grid;
	grid-template-columns: calc(100% - 350px) 350px;
	grid-template-rows: 60px calc(100% - 120px) 60px;
	grid-template-areas:
		"nav nav"
		"main header"
		"footer footer";
}

@mixin nav-area {
	grid-area: nav;
}

@mixin header-area {
	grid-area: header;
}

@mixin main-area {
	grid-area: main;
}

@mixin footer-area {
	grid-area: footer;
}

@mixin no-overflow {
	overflow: hidden;
}

@mixin allow-y-overflow {
	overflow-y: auto;
}

@mixin flex-active {
	display: flex;
}

@mixin center-content-y {
	display: flex;
	align-items: center;
}

@mixin center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin lefty {
	text-align: left;
}

@mixin righty {
	text-align: right;
}

@mixin width-auto {
	width: auto;
}

@mixin width-1 {
	width: 8.33%;
}

@mixin width-2 {
	width: 16.6%;
}

@mixin width-3 {
	width: 25%;
}

@mixin width-4 {
	width: 33.3%;
}

@mixin width-5 {
	width: 41.6%;
}

@mixin width-6 {
	width: 50%;
}

@mixin width-7 {
	width: 58.3%;
}

@mixin width-8 {
	width: 66.6%;
}

@mixin width-9 {
	width: 75%;
}

@mixin width-10 {
	width: 83.3%;
}

@mixin width-11 {
	width: 91.6%;
}

@mixin width-12 {
	width: 100%;
}

@mixin height-auto {
	height: auto;
}

@mixin height-1 {
	height: 8.33%;
}

@mixin height-2 {
	height: 16.6%;
}

@mixin height-3 {
	height: 25%;
}

@mixin height-4 {
	height: 33.3%;
}

@mixin height-5 {
	height: 41.6%;
}

@mixin height-6 {
	height: 50%;
}

@mixin height-7 {
	height: 58.3%;
}

@mixin height-8 {
	height: 66.6%;
}

@mixin height-9 {
	height: 75%;
}

@mixin height-10 {
	height: 83.3%;
}

@mixin height-11 {
	height: 91.6%;
}

@mixin height-12 {
	height: 100%;
}

@mixin padding-r-5 {
	padding-right: 5px;
}

@mixin padding-5 {
	padding: 5px;
}

@mixin padding-10 {
	padding: 10px;
}

@mixin padding-r-10 {
	padding-right: 10px;
}

@mixin padding-b-10 {
	padding-bottom: 10px;
}

@mixin padding-25 {
	padding: 25px;
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	max-width: 100dvw;
	max-height: 100dvh;
	height: 100dvh;
	width: 100dvw;
	overflow: hidden;
}

div,
section,
main,
header,
nav,
footer,
article {
	padding: 0;
	margin: 0;
	@include width-12;
}

ul {
	margin: 0;
	@include width-12;
}