//importing the necessary scss files
@use "layout";

body {
	scrollbar-color: layout.$clr-3 layout.$clr-1;
}

.link {
	display: flex;
	padding: 10px;
	color: layout.$clr-2;
	border-top: 2px layout.$clr-3 solid;
	font-weight: 700;
}

.normal-link {
	color: layout.$clr-2;
	font-weight: 700;
}

.link:hover {
	color: layout.$clr-3
}

.normal-link:hover {
	color: layout.$clr-3;
}

.img-container {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.image {
	max-width: 250px;
	max-height: 250px;
	width: 100%;
	height: auto;
	border: 3px layout.$clr-3 solid;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	float: none;
}

.navbar {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
}

.nav-item {
	color: layout.$neutral-2;
	text-decoration: none;
	height: 100%;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 30px;
	overflow: visible;
}

.nav-active {
	background: layout.$clr-3;
	color: layout.$neutral-1;
}

.nav-item:hover {
	background: layout.$clr-3;
	color: layout.$neutral-1;
}