body {
    font-size: 16px;
    color: $neutral-1;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.sub-title {
    font-size: 1.2em;
    font-style: italic;
}

.heading {
    font-weight: bold;
}

.sub-heading {
    font-style: italic;
}