@use './coloring';
@forward './coloring';

body {
    font-size: 16px;
    color: coloring.$neutral-1;
}

.title {
    width: 100%;
    font-size: 3em;
    font-weight: bold;
}

.sub-title {
    width: 100%;
    margin-top: 10px;
    font-size: 2em;
    font-style: italic;
    padding: 0px 10px 10px 10px;
    border-left: 3px coloring.$clr-3 solid;
    border-bottom: 3px coloring.$clr-3 solid;
    border-radius: 0px 10px;
}

.heading {
    font-weight: bold;
}

.sub-heading {
    font-style: italic;
    padding-bottom: 10px;
}